<!DOCTYPE html>
<html lang="ar">
  <%- include('./partials/head.ejs') %>
  <script>
    let lang = `<%= lang %>`,
      title = `<%= title %>`,
      desc = `<%= desc %>`,
      email = `<%= email %>`,
      logoDist = `<%= logoDist %>`,
      keyword = `<%= keyword %>`;
  </script>
  <script defer src="/js/search.js"></script>
  <body>
    <%- include('./partials/header.ejs') %>
    <!-- <script defer src="/js/app.js" type="module"></script> -->
    <main>
      <%- include('./partials/search.ejs') %>
      <div class="nm-container">
        <section class="sm-padding-container">
          <div class="countries-container row wrap justify-between">
            <%if(countries.length != 0) {countries.forEach(country=>{ %>
            <div class="row justify-between country-item align-center">
              <img
                src="/assets/flags/<% if(country.flagFullName != null || country.flagFullName != undefined){ %>
              <%= country.flagFullName %>
                  <%}else{%><%= country.countryCode.toString().toLowerCase() %>.svg
                <%}%>"
                alt="Country Image"
                class="country-image"
              />
              <a href="/country/<%= country.en_name %>">
                <div class="country-textBox column">
                  <div class="country-ar-name"><%= country.ar_name %></div>
                  <div class="country-en-name"><%= country.en_name %></div>
                </div>
              </a>
            </div>
            <%})}else{%>
            <div class="msg backTohome">العودة للرئيسية - Back To Home</div>
            <%}%>
          </div>
          <div class="show-more-countries-btn row justify-center">
            <%if(countries.length != 0) {%>
            <a href="?c=<%= endCountryQuery %>"
              ><%if(lang == 'en') {%>Load More<%}else{%>عرض المزيد<%}%></a
            ><%}%>
          </div>
        </section>
        <section
          class="sm-padding-container row-container sm-post-container row justify-between"
        >
          <div class="row-item column justify-center align-center">
            <div
              class="top-icon-container column justify-center align-center"
            ></div>
            <i class="reload-sm-post-btn fas fa-sync-alt"></i>
            <h3>-</h3>
            <p>-----</p>
            <div class="share-btn btn">نسخ</div>
          </div>
          <div class="row-item column justify-center align-center">
            <div
              class="top-icon-container column justify-center align-center"
            ></div>
            <i class="reload-sm-post-btn fas fa-sync-alt"></i>
            <h3>-</h3>
            <p>-----</p>
            <div class="share-btn btn">نسخ</div>
          </div>

          <script src="/js/smpost.js"></script>
        </section>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
    <div class="alert-container">
      <div class="alert-text">
        برجاء تفعيل امكانية الوصول للموقع GPS لعرض مواقيت الصلاة اوتوماتيكيا
      </div>
      <div class="fluid-width">
        <label>الدولة</label>
        <input
          type="text"
          list="manual-location-country"
          class="fluid-width select-box country-search"
        />
        <datalist
          class="fluid-width manual-location-country"
          id="manual-location-country"
        ></datalist>
        <label>المدينة</label>
        <select class="select-box fluid-width manual-location-city"></select>
      </div>
      <div class="alert-btns row">
        <p class="alert-item row align-center justify-between" id="close-alert">
          <i class="fas fa-times"> </i>اغلاق
        </p>
        <p class="alert-item row align-center justify-between manual-detect">
          تحديد يدوي
        </p>
      </div>
    </div>
  </body>
</html>
