<!-- 
CODED BY AHMED FAWZY
-->
<!DOCTYPE html>
<html lang="ar">
  <script>
    let lang = `<%= lang %>`,
      title = `<%= title %>`,
      desc = `<%= desc %>`,
      email = `<%= email %>`,
      logoDist = `<%= logoDist %>`,
      keyword = `<%= keyword %>`;
    siteTitle = `<%= siteTitle%>`;
  </script>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <div class="nm-container">
        <section class="sm-padding-container">
          <div class="row-container row justify-between wrap">
            <div
              class="post-only-div column nowrap justify-center align-center"
            >
              <div class="post-show-title">
                <% if(lang == 'en') {%>Privacy Policy<%}else{%>سياسة
                الخصوصية<%}%>
              </div>
              <div
                class="post-show-content"
                style="text-align:  <% if(lang == 'en') {%>left<%}else{%>right<%}%>"
              >
                <% if(lang == 'en') {%>
                <h3 style="direction: ltr">
                  <strong _msthash="1833130" _msttexthash="1118832"
                    >Privacy and confidentiality statement</strong
                  >
                </h3>
                <div>
                  <p
                    _msthash="2198326"
                    _msttexthash="29672435"
                    style="direction: ltr; text-align: left"
                  >
                    We appreciate your concerns and concerns about the privacy
                    of your data on the Internet. <br _istranslated="1" />This
                    policy is designed to help you understand the nature of the
                    data we collect from you when you visit our website and how
                    we handle this personal data.
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <font
                      _mstmutation="1"
                      _msthash="2199145"
                      _msttexthash="22017008"
                      ><strong _mstmutation="1" _istranslated="1"
                        >Browsing</strong
                      ><br _mstmutation="1" _istranslated="1" />we have not
                      designed this site in order to collect your personal data
                      from your computer while you are browsing this site, but
                      the data provided by you will only be used with your
                      knowledge and will.
                    </font>
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <font
                      _mstmutation="1"
                      _msthash="2199964"
                      _msttexthash="25576694"
                      ><strong _mstmutation="1" _istranslated="1"
                        >The IP</strong
                      >
                      <br _mstmutation="1" _istranslated="1" />
                      address any time you visit any website including this
                      site, the host server will record your IP address, date
                      and time of visit, type of internet browser you use and
                      the URL of any website that refers you to this website.
                    </font>
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <font
                      _mstmutation="1"
                      _msthash="2200783"
                      _msttexthash="17017260"
                      ><strong _mstmutation="1" _istranslated="1"
                        >Surveys on the network</strong
                      ><br _mstmutation="1" _istranslated="1" />that we conduct
                      directly on the network enable us to collect specific data
                      such as the data required of you regarding your outlook
                      and feeling about our site.
                    </font>
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <font
                      _mstmutation="1"
                      _msthash="2201602"
                      _msttexthash="49929698"
                      ><strong _mstmutation="1" _istranslated="1"
                        >Links to other websites</strong
                      ><br _mstmutation="1" _istranslated="1" />may include
                      links to other websites. Or information from other sites
                      such as
                      <a
                        href="https://www.google.com/adsense"
                        _mstmutation="1"
                        _istranslated="1"
                        >Google AdSense</a
                      >
                      and we are not responsible for the methods of collecting
                      data by those sites, you can see the confidentiality
                      policies and content of those sites that are accessed
                      through any link within this site.
                    </font>
                  </p>
                  <p
                    _msthash="2202421"
                    _msttexthash="120504683"
                    style="direction: ltr; text-align: left"
                  >
                    We may use third-party advertising companies to serve ads
                    when you visit our website. These companies have the right
                    to use information about your visits to this and other
                    websites (except name, address, email address or phone
                    number) to provide advertisements about the goods and
                    services of interest to you. If you would like more
                    information about this as well as if you want to know the
                    options available to you to prevent the use of this
                    information by these companies, please
                    <a
                      href="http://www.google.com/privacy_ads.html"
                      _istranslated="1"
                      >click here.</a
                    >
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <font
                      _mstmutation="1"
                      _msthash="2203240"
                      _msttexthash="65655954"
                      ><strong _mstmutation="1" _istranslated="1"
                        >Disclosure of information</strong
                      ><br _mstmutation="1" _istranslated="1" />we will at all
                      times maintain the privacy and confidentiality of all
                      personal data we obtain. This information will only be
                      disclosed if required by any law or when we believe in
                      good faith that such action will be required or desirable
                      to conform to the law, or to defend or protect the
                      property rights of this site or its beneficiaries.
                    </font>
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <font
                      _mstmutation="1"
                      _msthash="2204059"
                      _msttexthash="129921896"
                      ><strong _mstmutation="1" _istranslated="1"
                        >The data required to execute the transactions required
                        by you</strong
                      ><br _mstmutation="1" _istranslated="1" />when we need any
                      data of your own, we will ask you to provide it of your
                      own volition. This information will help us contact you
                      and execute your requests wherever possible. The data
                      provided by you will never be sold to any third party for
                      the purpose of marketing it to its own interest without
                      your prior and written consent unless it is in collective
                      data used for statistical and research purposes without
                      any data that may be used to identify you.
                    </font>
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <font
                      _mstmutation="1"
                      _msthash="2204878"
                      _msttexthash="12687909"
                      ><strong _mstmutation="1" _istranslated="1"
                        >When you contact us,</strong
                      ><br _mstmutation="1" _istranslated="1" />all data
                      provided by you will be treated as confidential. Forms
                      submitted directly on the web require data to help us
                      improve our site.
                    </font>
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <font
                      _mstmutation="1"
                      _msthash="2238262"
                      _msttexthash="16151135"
                      ><strong _mstmutation="1" _istranslated="1"
                        >Disclosure of information to any third</strong
                      ><br _mstmutation="1" _istranslated="1" />party we will
                      not sell, trade, lease, or disclose any information to the
                      benefit of any third party outside this site, or its
                      affiliates.
                    </font>
                  </p>
                  <p
                    _msthash="2239094"
                    _msttexthash="76292177"
                    style="direction: ltr; text-align: left"
                  >
                    Amendments to the<br _istranslated="1" />Privacy and Privacy
                    Policy of The Information reserve the right to amend the
                    terms and conditions of the privacy and privacy policy of
                    the information if necessary and when appropriate. The
                    modifications will be implemented here or on the Privacy
                    Policy home page and you will be notified of the data we
                    have obtained, how we will use it and who we will provide
                    this data with.
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <font
                      _mstmutation="1"
                      _msthash="2239926"
                      _msttexthash="12276563"
                      ><strong _mstmutation="1" _istranslated="1"
                        >Contact us</strong
                      ><br _mstmutation="1" _istranslated="1" />and you can
                      contact us if needed by clicking on our contact link
                      available on our links or emailing us ggngg@yahoo.com on
                      the domain name above.
                    </font>
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <font
                      _mstmutation="1"
                      _msthash="2240758"
                      _msttexthash="14185899"
                      ><strong _mstmutation="1" _istranslated="1"
                        >Finally,</strong
                      ><br _mstmutation="1" _istranslated="1" />your concerns
                      and concerns about data confidentiality and privacy are of
                      utmost importance to us. We hope that this will be
                      achieved through this policy.
                    </font>
                  </p>
                  <h2 style="direction: ltr; text-align: left">
                    <strong _msthash="2277444" _msttexthash="2985411"
                      >California Consumer Privacy and Privacy And Disclosure
                      Rights Act (CCPA)</strong
                    >
                  </h2>
                  <p
                    _msthash="2242422"
                    _msttexthash="252213936"
                    style="direction: ltr; text-align: left"
                  >
                    On July 1, 2020, the California State Consumer Privacy,
                    Privacy and Disclosure Act was updated with regard to the
                    obligations and legal rights enshrined in the California
                    Consumer Privacy Act (CCPA) and other laws that apply only
                    to Californians. These obligations and rights apply to
                    companies doing business in California and apply to
                    California residents and to information that identifies,
                    identifies, identifies, or may be reasonably associated with
                    or may be associated with California consumers or their
                    families ("California Information"), whether directly or
                    indirectly. This does not apply to information that has been
                    dedefined or collected in accordance with the California
                    Consumer Privacy Act.
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <big
                      ><strong _msthash="2243254" _msttexthash="207532"
                        >Cookie policy</strong
                      ></big
                    >
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <strong _msthash="2244086" _msttexthash="196508"
                      >What cookies?</strong
                    >
                  </p>
                  <p
                    _msthash="2244918"
                    _msttexthash="178456746"
                    style="direction: ltr; text-align: left"
                  >
                    Cookies are small pieces of data, stored in text files on
                    your computer or on another device when you download
                    websites in a browser. They are widely used to "remind you"
                    of you and your preferences, for a single visit (through a
                    Session Cookie) or for multiple frequent visits (using a
                    "permanent cookie"). It ensures a consistent and effective
                    experience for visitors. Cookies may be assigned by the site
                    you visit (known as "cookies from the current location"), or
                    by third parties, such as those that provide content or
                    provide advertising or analytics services on the website
                    ("third-party cookies").
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <strong
                      ><big _msthash="2245750" _msttexthash="207350"
                        >Using cookies</big
                      ></strong
                    >
                  </p>
                  <p
                    _msthash="2239081"
                    _msttexthash="26584792"
                    style="direction: ltr; text-align: left"
                  >
                    Timesprayer may use the site's caching with so-called cash,
                    which speeds up your visit to the site, and temporarily
                    stores files, as well as may be used by advertising
                    companies that may have previously stored your interests.
                  </p>
                  <p style="direction: ltr; text-align: left">
                    <strong
                      ><big _msthash="2239913" _msttexthash="2847884"
                        >Your privacy rights in California and what information
                        is collected</big
                      ></strong
                    >
                  </p>
                  <p
                    _msthash="2240745"
                    _msttexthash="32493370"
                    style="direction: ltr; text-align: left"
                  >
                    Timesprayer does not store any data about you and if there
                    is a request to access your site and take both lat,lng
                    longitude and latitude it is for the purpose of knowing
                    where you are, without even storing it with us or linking it
                    to any other information.
                  </p>
                </div>
                <%}else{%>
                <h3><strong>الخصوصية وبيان سريّة المعلومات</strong></h3>
                <div>
                  <p>
                    نقدر مخاوفكم واهتمامكم بشأن خصوصية بياناتكم على شبكة
                    الإنترنت.<br />لقد تم إعداد هذه السياسة لمساعدتكم في تفهم
                    طبيعة البيانات التي نقوم بتجميعها منكم عند زيارتكم لموقعنا
                    على شبكة الانترنت وكيفية تعاملنا مع هذه البيانات الشخصية.
                  </p>
                  <p>
                    <strong>التصفح</strong><br />لم نقم بتصميم هذا الموقع من أجل
                    تجميع بياناتك الشخصية من جهاز الكمبيوتر الخاص بك أثناء تصفحك
                    لهذا الموقع, وإنما سيتم فقط استخدام البيانات المقدمة من قبلك
                    بمعرفتك ومحض إرادتك.
                  </p>
                  <p>
                    <strong>عنوان بروتوكول شبكة الإنترنت (IP)</strong
                    ><br />&nbsp; في أي وقت تزور فيه اي موقع انترنت بما فيها هذا
                    الموقع , سيقوم السيرفر المضيف بتسجيل عنوان بروتوكول شبكة
                    الإنترنت&nbsp;&nbsp; (IP) الخاص بك , تاريخ ووقت الزيارة ونوع
                    متصفح الإنترنت الذي تستخدمه والعنوان URL الخاص بأي موقع من
                    مواقع الإنترنت التي تقوم بإحالتك إلى الى هذا الموقع على
                    الشبكة.
                  </p>
                  <p>
                    <strong>عمليات المسح على الشبكة</strong><br />إن عمليات
                    المسح التي نقوم بها مباشرة على الشبكة تمكننا من تجميع بيانات
                    محددة مثل البيانات المطلوبة منك بخصوص نظرتك وشعورك تجاه
                    موقعنا.تعتبر ردودك ذات أهمية قصوى , ومحل تقديرنا حيث أنها
                    تمكننا من تحسين مستوى موقعنا, ولك كامل الحرية والإختيار في
                    تقديم البيانات المتعلقة بإسمك والبيانات الأخرى.
                  </p>
                  <p>
                    <strong>الروابط بالمواقع الأخرى على شبكة الإنترنت</strong
                    ><br />قد يشتمل موقعنا على روابط بالمواقع الأخرى على شبكة
                    الإنترنت. او علانات من مواقع اخرى مثل
                    <a href="https://www.google.com/adsense">Google AdSense</a>
                    ولا نعتبر مسئولين عن أساليب تجميع البيانات من قبل تلك
                    المواقع, يمكنك الاطلاع على سياسات السرية والمحتويات الخاصة
                    بتلك المواقع التي يتم الدخول إليها من خلال أي رابط ضمن هذا
                    الموقع.
                  </p>
                  <p>
                    نحن قد نستعين بشركات إعلان لأطراف ثالثة لعرض الإعلانات عندما
                    تزور موقعنا على الويب. يحق لهذه الشركات أن تستخدم معلومات
                    حول زياراتك لهذا الموقع ولمواقع الويب الأخرى (باستثناء الاسم
                    أو العنوان أو عنوان البريد الإلكتروني أو رقم الهاتف)، وذلك
                    من أجل تقديم إعلانات حول البضائع والخدمات التي تهمك. إذا كنت
                    ترغب في مزيد من المعلومات حول هذا الأمر وكذلك إذا كنت تريد
                    معرفة الاختيارات المتاحة لك لمنع استخدام هذه المعلومات من
                    قِبل هذه الشركات ، فالرجاء
                    <a href="http://www.google.com/privacy_ads.html"
                      >النقر هنا</a
                    >.
                  </p>
                  <p>
                    <strong>إفشاء المعلومات</strong><br />سنحافظ في كافة الأوقات
                    على خصوصية وسرية كافة البيانات الشخصية التي نتحصل عليها. ولن
                    يتم إفشاء هذه المعلومات إلا إذا كان ذلك مطلوباً بموجب أي
                    قانون أو عندما نعتقد بحسن نية أن مثل هذا الإجراء سيكون
                    مطلوباً أو مرغوباً فيه للتمشي مع القانون , أو للدفاع عن أو
                    حماية حقوق الملكية الخاصة بهذا الموقع أو الجهات المستفيدة
                    منه.
                  </p>
                  <p>
                    <strong
                      >البيانات اللازمة لتنفيذ المعاملات المطلوبة من
                      قبلك</strong
                    ><br />عندما نحتاج إلى أية بيانات خاصة بك , فإننا سنطلب منك
                    تقديمها بمحض إرادتك. حيث ستساعدنا هذه المعلومات في الاتصال
                    بك وتنفيذ طلباتك حيثما كان ذلك ممكنناً. لن يتم اطلاقاً بيع
                    البيانات المقدمة من قبلك إلى أي طرف ثالث بغرض تسويقها
                    لمصلحته الخاصة دون الحصول على موافقتك المسبقة والمكتوبة ما
                    لم يتم ذلك على أساس أنها ضمن بيانات جماعية تستخدم للأغراض
                    الإحصائية والأبحاث دون اشتمالها على أية بيانات من الممكن
                    استخدامها للتعريف بك.
                  </p>
                  <p>
                    <strong>عند الاتصال بنا</strong><br />سيتم التعامل مع كافة
                    البيانات المقدمة من قبلك على أساس أنها سرية . تتطلب النماذج
                    التي يتم تقديمها مباشرة على الشبكة تقديم البيانات التي
                    ستساعدنا في تحسين موقعنا.سيتم استخدام البيانات التي يتم
                    تقديمها من قبلك في الرد على كافة استفساراتك , ملاحظاتك , أو
                    طلباتك من قبل هذا الموقع أو أيا من المواقع التابعة له .
                  </p>
                  <p>
                    <strong>إفشاء المعلومات لأي طرف ثالث</strong><br />لن نقوم
                    ببيع , المتاجرة , تأجير , أو إفشاء أية معلومات لمصلحة أي طرف
                    ثالث خارج هذا الموقع, أو المواقع التابعة له.وسيتم الكشف عن
                    المعلومات فقط في حالة صدور أمر بذلك من قبل أي سلطة قضائية أو
                    تنظيمية.
                  </p>
                  <p>
                    التعديلات على سياسة سرية وخصوصية المعلومات<br />نحتفظ بالحق
                    في تعديل بنود وشروط سياسة سرية وخصوصية المعلومات إن لزم
                    الأمر ومتى كان ذلك ملائماً. سيتم تنفيذ التعديلات هنا او على
                    صفحة سياسة الخصوصية الرئيسية وسيتم بصفة مستمرة إخطارك
                    بالبيانات التي حصلنا عليها , وكيف سنستخدمها والجهة التي
                    سنقوم بتزويدها بهذه البيانات.
                  </p>
                  <p>
                    <strong>الاتصال بنا</strong><br />يمكنكم الاتصال بنا عند
                    الحاجة من خلال الضغط على رابط اتصل بنا المتوفر في روابط
                    موقعنا او الارسال الى بريدنا الالكتروني ggngg@yahoo.com على
                    اسم النطاق اعلاه
                  </p>
                  <p>
                    <strong>اخيرا</strong><br />إن مخاوفك واهتمامك بشأن سرية
                    وخصوصية البيانات تعتبر مسألة في غاية الأهمية بالنسبة لنا.
                    نحن نأمل أن يتم تحقيق ذلك من خلال هذه السياسة.
                  </p>
                  <h2>
                    <strong
                      >قانون خصوصية المستهلك وحقوق الخصوصية والإفصاح في
                      كاليفورنيا (CCPA)</strong
                    >
                  </h2>
                  <p>
                    في تاريخ 1 يوليو لعام 2020 تم تحديث قانون خصوصية المستهلك
                    وحقوق الخصوصية والإفصاح في ولاية كاليفورنا بما يختص ويتناول
                    بألتزامات وحقوق الحقوق القانونية المنصوص عليها في قانون
                    خصوصية المستهلك في كاليفورينا CCPA والقوانين الأخرى التي
                    تنطبق فقط على سكان كاليفورنيا. وتنطبق هذه الالتزامات والحقوق
                    على الشركات التي تقوم بمزاولة الأعمال في كاليفورنيا وتنطبق
                    على المقيمين في كاليفورنيا وعلى المعلومات التي تحدد أو تتعلق
                    بـ أو تبين أو التي قد ترتبط بـ أو قد تكون مرتبطة بشكل معقول
                    بالمستهلكين في كاليفورنيا أو أسرهم ("معلومات كاليفورنيا")،
                    سواء كان ذلك بشكل مباشر أو غير مباشر. ولا ينطبق ذلك على
                    المعلومات التي تم إلغاء تعريفها أو تجميعها وفقا لما ينص عليه
                    قانون خصوصية المستهلك في كاليفورنيا.
                  </p>
                  <p>
                    <big><strong>سياسة ملفات تعريف الارتباط</strong></big>
                  </p>
                  <p><strong>ما ملفات تعريف الارتباط؟</strong></p>
                  <p>
                    ملفات تعريف الارتباط هي أجزاء صغيرة من البيانات، يتم تخزينها
                    في ملفات نصية على جهاز الكمبيوتر الخاص بك أو على جهاز آخر
                    عند تحميل مواقع الويب في مستعرض. وهي تُستخدم على نطاق واسع
                    "لتذكرك" أنت وتفضيلاتك، لزيارة واحدة (من خلال "ملف تعريف
                    ارتباط جلسة") أو لزيارات متعددة متكررة (باستخدام "ملف تعريف
                    ارتباط دائم"). وهي تضمن توفير تجربة متسقة وفعالة للزائرين.
                    قد يتم تعيين ملفات تعريف الارتباط بواسطة الموقع الذي تزوره
                    (تُعرف باسم "ملفات تعريف الارتباط من الموقع الحالي")، أو
                    بواسطة جهات خارجية، مثل تلك التي تقدم المحتوى أو تقدم خدمات
                    الإعلانات أو التحليلات على موقع الويب ("ملفات تعريف الارتباط
                    من جهات خارجية").
                  </p>
                  <p>
                    <strong><big>إستخدام ملفات تعريف الارتباط</big></strong>
                  </p>
                  <p>
                    موقع مواقيت الصلاة timesprayer قد يقوم باستخدام التخزين
                    المؤقت للموقع بما يسمى بالكاش وهذا يسرع من زيارتك للموقع ,
                    وتخزين الملفات بشكل مؤقت, كذالك قد يستخدم من قبل شركات
                    الإعلانات والتي قد تكون قامت من قبل بتخزين اهتماماتك.
                  </p>
                  <p>
                    <strong
                      ><big
                        >حقوق الخصوصية الخاصة بك في ولاية كاليفورنيا وماهي
                        المعلومات التي يتم جمعها</big
                      ></strong
                    >
                  </p>
                  <p>
                    موقع مواقيت الصلاة timesprayer لايقوم بتخزين اي بيانات عنك
                    وان كان هناك طلب للوصول الى موقعك واخذ كل من lat,lng خط
                    الطول وخط العرض فهو لغرض معرفة موقيت الصلاة في المكان الذي
                    تتواجد فيه , دون حتى تخزينها لدينا او ربطها باي معلومات
                    اخرى.
                  </p>
                </div>
                <%}%>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
    <div class="alert-container">
      <div class="alert-text">
        برجاء تفعيل امكانية الوصول للموقع GPS لعرض مواقيت الصلاة اوتوماتيكيا
      </div>
      <div class="alert-btns row">
        <p class="alert-item row align-center justify-between" id="close-alert">
          <i class="fas fa-times"> </i>اغلاق
        </p>
        <p
          class="alert-item row align-center justify-between"
          id="manual-location"
        >
          تحديد يدوي
        </p>
      </div>
    </div>
    <script>
      // Apply More Options
      let headerTitle = document.querySelector(".header-title h1"),
        footerMail = document.querySelector(".footer-mail"),
        siteCopyrights = document.querySelector(".site-copyrights");

      document.title = title;
      headerTitle.textContent = siteTitle;
      footerMail.textContent = email;

      lang == "en"
        ? ((siteCopyrights.textContent = `All Rights Reserved to ${siteTitle}`),
          (headingTitle.textContent = `Embed prayer times in your site`))
        : (siteCopyrights.textContent = `جميع الحقوق محفوظة لدي موقع ${siteTitle}`);
    </script>
  </body>
</html>
